{% include "header.html" %}

<form action="{{ url_for("html_login") }}" method="post">

<table>
    <tr>
        <td>Kullanıcı: </td>
        <td><input type="text" name="username"></td>
        <td></td>
    </tr>
    <tr>
        <td>Şifre: </td>
        <td><input type="password" name="password"></td>
        <td><a class="info" href="{{ url_for("html_forgot_pwd") }}">Unuttum</a></td>
    </tr>
    <tr>
        <td><img src="static/captcha/{{ session["captcha_file"] }}"></td>
        <td><input type="text" name="captcha"></td>
        <td></td>
    </tr>
</table>

<input type="submit" value="Giriş"><input type="button" value="Yeni kayıt" onclick="new_user()">

</form>

<script>
    function new_user() {
        window.location.replace("{{ url_for("html_add_user") }}");
    }
</script>
{% include "oauth.html" %}
{% include "footer.html" %}
